.products {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.featured-products {
  width: 100%;
  background-color: var(--color-head);
  padding: 20px;
  border-radius: 5px;
}

.featured-products h2 {
  text-align: center;
  padding: 15px;
  font-size: 2.5rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: var(--color-secalt);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: brightness(0.9);
  transition: transform 0.3s ease;
}

.product-card img:hover {
  transform: scale(1.01);
}

.desc {
  position: absolute;
  bottom: 0;
  background: var(--color-back);
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-secondary);
}

.value {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.desc button {
  background: transparent;
  border: 2px solid var(--color-secalt);
  border-radius: 5px;
  font-size: 1.5rem;
  color: var(--color-secondary);
  padding: 10px;
}